body {
	min-width: 1400px;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal
	{
	border: 1px solid;
	margin: 0px 5px;
	padding: 2px 5px;
}

.schedulewidthsmall {
	width: 300px;
	height: auto;
}

.fc-basic-view tbody .fc-row {
	min-height: 2em;
}

.fc table {
	font-size: 0.9em;
}

.redEvent, .redEvent .fc-event, .redEvent a, .redEvent .fc-event-inner {
	background-color: red !important;
	border-color: red !important;
}

.red {
	background: #C92A2A !important;
}

.none {
	
}

#sprintTable .red .ui-state-hover {
	background: #74afad !important;
}

#loginContents {
	width: 500px !important;
	margin-left: auto;
	margin-right: auto;
}

#robusta {
	width: auto;
	height: 30px;
	padding: 20px;
	margin-bottom: 10px;
	background-image: url("#{resource['images:Robusta.png']}");
}

#loginForm {
	position: center;
	width: auto;
	height: 150px;
	padding: 20px;
	margin-bottom: 10px;
	text-align: right;
}

table {
	font-size: small;
	table-layout: fixed;
}

tr {
	word-wrap: break-word;
}

.assignmentInfo {
/* 	margin: 50px auto;
 */}

#filesUpload {
	margin-bottom: 50px;
}

.ui-icon-home {
	zoom: 1.5;
	margin-left: 10px;
	margin-right: 0px;
	width: 100%;
}

.homeIcon {
	height: 25px;
	width: 25px;
}

#menu .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:last-child {
	float: right;
	padding-left: 5px;
}

#loginForm .ui-panelgrid td, #loginForm  .ui-panelgrid tr {
	border: none;
	background: inherit;
}

#statusActions .ui-panelgrid td, #loginForm  .ui-panelgrid tr {
	border: none;
	background: inherit;
}

#metrics {
	font-size: 0.9em;
	width: 300px;
	float: left;
	margin-right: 10px;
}

#rightContent {
	display: inline-block;
	float: left;
	width: 70%;
}

div#layout {
	padding: 5px;
	overflow: auto;
}

div#lazyPersonalAssignments {
	margin-top: 15px;
}

#lazyAssignments .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
	background: white !important;
	color: black !important;
}

#projectDescription, #projectMembers, #projectMetricsDiv {
	width: 300px;
}

div#projectMetricsDiv td.ui-panelgrid-cell {
	min-width: 100px;
}

#backDiv {
	margin-right: 300px;
	margin-left: 310px;
}

h1, h3 {
	color: #558C89;
}

#statusDialog {
	background-image: url("#{resource['images:ajax-loader.gif']}");
}

.commentFilter {
	width: 400px!important;
}

#comments {
	min-width: 400px;
	float: left;
}

#files {
	width: 500px;
	float: left;
	margin-right: 10px;
}

