<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>
	<h:outputStylesheet id="stylesheet" name="style.css" />
</h:head>
<h:body>
	<div id="header">
		<ui:include src="../header.xhtml" />
	</div>
	<div id="container">
		<div id="menu">
			<ui:include src="AdminMenu.xhtml" />
		</div>
		<div id="contents">
			<ui:insert name="content">
		  		No content
		  	</ui:insert>
			<br /> <br />
		</div>

		<h:form>
			<p:commandButton value="Logout" id="logout"
				action="#{loginMgmtBean.logout}" />
		</h:form>

		<div id="footer">
			<ui:include src="../footer.xhtml" />
		</div>
	</div>
</h:body>
</html>
