<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head></h:head>
<h:body>

	<ui:composition>


		<h:form>
			<p:tabMenu activeIndex="#{param.i}">
				<p:menuitem value="Members management"
					outcome="/pages/secure/admin/membersList" icon="ui-icon-search">
					<f:param name="i" value="0" />
				</p:menuitem>
				<p:menuitem value="Projects management "
					outcome="/pages/secure/admin/projectsList" icon="ui-icon-wrench">
					<f:param name="i" value="1" />
				</p:menuitem>
				<p:menuitem value="Comments management "
					outcome="/pages/secure/admin/commentsList" icon="ui-icon-wrench">
					<f:param name="i" value="2" />
				</p:menuitem>
				<p:menuitem id="help" value="Help" outcome="/pages/secure/admin/help">
					<f:param name="i" value="3" />
				</p:menuitem>
				<p:menuitem style="float:right!important;" value="Logout"
					id="logout" icon="fa fa-sign-out" action="#{loginMgmtBean.logout}"></p:menuitem>
			</p:tabMenu>
		</h:form>


	</ui:composition>
</h:body>
</h:html>