<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="AdminTemplate.xhtml">

	<ui:define name="title">
 	 	All Comments
 	 </ui:define>

	<ui:define name="content">

		<h1>All comments:</h1>

		<h:panelGroup layout="block" id="lazyCommentsDiv">
			<h:form id="lazyComments">
				<p:dataTable var="comment" widgetVar="lazyCommentTable"
					value="#{lazyCommentsModel}" paginator="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15" id="commentsTable" lazy="true"
					paginatorPosition="bottom">

					<p:column headerText="Id" sortBy="#{comment.id}"
						filterBy="#{comment.id}">
						<h:outputText value="#{comment.id}" />
					</p:column>

					<p:column headerText="Author"
						sortBy="#{comment.author.getFullName()}"
						filterBy="#{comment.author.getFullName()}">
						<h:outputText value="#{comment.author.getFullName()}" />
					</p:column>

					<p:column headerText="Comment Date" sortBy="#{comment.commentDate}"
						filterBy="#{comment.commentDate}">
						<f:facet name="filter">
							<h:inputHidden id="commentDate" />
						</f:facet>
						<f:facet name="header">
							<p:outputLabel value="Created date" />
							<br />
							<p:calendar id="from" pattern="yyyy-MM-dd"
								placeholder="From date">
								<p:ajax event="valueChange"
									onstart="$(PrimeFaces.escapeClientId('#{p:component('commentDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
									oncomplete="PF('lazyCommentTable').filter()" />
								<p:ajax event="dateSelect"
									onstart="$(PrimeFaces.escapeClientId('#{p:component('commentDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
									oncomplete="PF('lazyCommentTable').filter()" />
							</p:calendar>
							<p:calendar id="to" pattern="yyyy-MM-dd" placeholder="To date">
								<p:ajax event="valueChange"
									onstart="$(PrimeFaces.escapeClientId('#{p:component('commentDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
									oncomplete="PF('lazyCommentTable').filter()" />
								<p:ajax event="dateSelect"
									onstart="$(PrimeFaces.escapeClientId('#{p:component('commentDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
									oncomplete="PF('lazyCommentTable').filter()" />
							</p:calendar>
						</f:facet>
						<h:outputText value="#{comment.commentDate}">
						</h:outputText>
					</p:column>

					<p:column id="colText" filterStyleClass="commentFilter"
						headerText="Comment Text" colspan="3"
						sortBy="#{comment.commentText}" filterBy="#{comment.commentText}">
						<h:outputText value="#{comment.commentText}" />
					</p:column>

					<p:column headerText="Action">
						<p:commandButton value="Delete"
							action="#{commentController.delete(comment)}" update="@form">
							<p:confirm header="Delete"
								message="Are you sure you want to delete this entry?"
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:column>
				</p:dataTable>

				<p:confirmDialog global="true">
					<p:commandButton value="Yes" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</h:panelGroup>
	</ui:define>


</ui:composition>
