<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="AdminTemplate.xhtml">

	<ui:define name="title">
 	 	HELP
 	 </ui:define>

	<ui:define name="content">
		
		<h1>Help</h1>
		
		<h:outputLink target="_blank" value="/robusta/resources/RobustaUserManual.pdf">Robusta Manual for basic tasks</h:outputLink>
		
		

	</ui:define>

</ui:composition>
