<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="AdminTemplate.xhtml">

	<ui:define name="title">
 	 	Team Members
 	 </ui:define>

	<ui:define name="content">

		<h1>All members</h1>
		<h:form id="dataTable">

			<p:dataTable value="#{memberController.loadMembers()}" var="member"
				styleClass="truncate">
				<p:column headerText="Id">
					<h:outputText value="#{member.id}" />
				</p:column>

				<p:column headerText="Name">
					<h:outputText value="#{member.name}" />
				</p:column>

				<p:column headerText="Last name">
					<h:outputText value="#{member.surname}" />
				</p:column>

				<p:column headerText="Login/Email">
					<h:outputText value="#{member.loginName}" />
				</p:column>

				<p:column headerText="Registration Date">
					<h:outputText value="#{member.registrationDate}" />
				</p:column>
				<p:column headerText="Member Status">
					<h:outputText value="#{member.status.label}" />
				</p:column>

				<p:column>
					<p:commandButton value="Disable" rendered="#{member.status ne 'DISABLED'}"
						action="#{memberController.disable(member)}" update="@form">
						<p:confirm header="Disable"
							message="Are you sure you want to disable this user?" />
					</p:commandButton>
					<p:commandButton value="Activate" rendered="#{member.status ne 'ACTIVE'}"
						action="#{memberController.activate(member)}" update="@form">
					</p:commandButton>
					</p:column>
					<p:column>
					<p:commandButton value="Edit"
						action="#{memberController.update(member)}"
						update="dataTable updateForm"
						oncomplete="PF('createMember').show();" />
				</p:column>
			</p:dataTable>
		</h:form>


		<p:commandButton action="#{memberController.create}"
			update="updateForm" value=" Create"
			oncomplete="PF('createMember').show();" />


		<p:defaultCommand target="dummy" />
		<p:commandButton id="dummy" process="@none" global="false"
			style="display:none;" />

		<p:confirmDialog global="true">
			<p:commandButton value="Yes" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="No" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>

		<p:dialog header="Create/Edit Member" widgetVar="createMember"
			modal="true" showEffect="blind" hideEffect="explode"
			resizable="false">
			<h:form id="updateForm">
				<p:outputPanel rendered="#{memberModel.member != null}">
					<h:panelGrid columns="3" cellpadding="5">
						<p:outputLabel for="name">Name:</p:outputLabel>
						<p:inputText id="name"
							value="#{memberController.model.member.name}"></p:inputText>
						<p:message for="name"></p:message>

						<p:outputLabel for="surname">Last name:</p:outputLabel>
						<p:inputText id="surname"
							value="#{memberController.model.member.surname}"></p:inputText>
						<p:message for="surname"></p:message>

						<p:outputLabel for="login">Email/Login:</p:outputLabel>
						<p:inputText id="login"
							validator="#{memberController.validateUniqueEmail}"
							value="#{memberController.model.member.loginName}"
							required="true" requiredMessage="A valid email must be present"></p:inputText>
						<p:message for="login"></p:message>

						<p:outputLabel for="password">Password:</p:outputLabel>
						<p:inputText id="password"
							validator="#{memberController.validateNewPassword}"
							value="#{memberController.projectController2.newPassword}"></p:inputText>
						<p:message for="password"></p:message>

						<p:outputLabel for="status">Member status:</p:outputLabel>
						<p:selectOneMenu value="#{memberController.model.member.status}"
							id="status">
							<f:selectItems value="#{memberController.memberStatuses}"
								var="status" itemValue="#{status}" itemLabel="#{status.label}" />
						</p:selectOneMenu>
						<p />
						<p:commandButton value="Save"
							actionListener="#{memberController.save}"
							update="updateForm dataTable">
						</p:commandButton>
						<p:commandButton value="Cancel"
							actionListener="#{memberController.cancel}"
							update="updateForm dataTable"
							oncomplete="PF('createMember').hide();" immediate="true"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
