<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="AdminTemplate.xhtml">

	<ui:define name="title">
 	 	Projects
 	 </ui:define>

	<ui:define name="content">

		<h1>All Projects:</h1>

		<h:form id="dataTable">

			<p:dataTable value="#{projectController.loadProjects()}"
				var="project">
				<p:column headerText="Id">
					<h:outputText value="#{project.id}" />
				</p:column>

				<p:column headerText="Created">
					<h:outputText value="#{project.dateCreated}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Title">
					<h:outputText value="#{project.name}" />
				</p:column>

				<p:column headerText="Start">
					<h:outputText value="#{project.startDate}" />
				</p:column>

				<p:column headerText="End Date">
					<h:outputText value="#{project.endDate}" />
				</p:column>

				<p:column headerText="Summary">
					<h:outputText value="#{project.description}" />
				</p:column>

				<p:column headerText="Project Manager">
					<h:outputText value="#{project.projectManager.getFullName()}" />
				</p:column>

				<p:calendar id="project_enddate"
					value="#{projectController.projectModel.project.endDate}"
					pattern="yyyy-MM-dd">
					<f:validator binding="#{projectDatesValidator}" />
					<f:attribute name="projectStartDateComponent"
						value="#{projectStartDateComponent}" />
				</p:calendar>
				<p:column headerText="Action">
					<p:commandButton value="Edit"
						action="#{projectController.updateProject(project)}"
						update="dataTable updateForm"
						oncomplete="PF('createProject').show();" />
				</p:column>
			</p:dataTable>
		</h:form>

		<p:commandButton action="#{projectController.createProject()}"
			update="updateForm" value=" Create"
			oncomplete="PF('createProject').show();" />




		<p:defaultCommand target="dummy" />
		<p:commandButton id="dummy" process="@none" global="false"
			style="display:none;" />

		<p:dialog header="Create/Edit Project" widgetVar="createProject"
			modal="true" showEffect="blind" hideEffect="explode"
			resizable="false">
			<h:form id="updateForm">
				<p:outputPanel rendered="#{projectModel.project != null}">
					<p:panelGrid columns="3" cellpadding="5">
						<p:outputLabel for="name">Title:</p:outputLabel>
						<p:inputText required="true"
							requiredMessage="Project must have a title" id="name"
							value="#{projectController.projectModel.project.name}"
							validator="#{projectController.validateUniqueProjectName}"></p:inputText>
						<p:message for="name"></p:message>
						<p:outputLabel for="project_startdate" value="Start date"></p:outputLabel>
						<p:calendar id="project_startdate" required="true"
							requiredMessage="Project must have a start date"
							binding="#{projectStartDateComponent}"
							value="#{projectController.projectModel.project.startDate}"
							pattern="yyyy-MM-dd"></p:calendar>
						<p:message for="project_startdate" />
						<p:outputLabel for="description" maxlength="250">Short description:</p:outputLabel>
						<p:inputTextarea id="description"
							value="#{projectController.projectModel.project.description}"></p:inputTextarea>
						<p:message for="description"></p:message>
						<p:outputLabel for="manager">Project Manager:</p:outputLabel>
						<p:selectOneMenu
							value="#{projectController.projectModel.managerId}" id="manager">
							<f:selectItem itemValue="#{null}" itemLabel="Not assigned"
								noSelectionOption="true"></f:selectItem>
							<f:selectItems value="#{projectController.getMembers()}"
								var="member" itemValue="#{member.id}"
								itemLabel="#{member.getFullName()}" />
						</p:selectOneMenu>
						<p:message for="manager"></p:message>
						<p:outputLabel for="project_enddate" value="End date"></p:outputLabel>
						<p:calendar id="project_enddate"
							value="#{projectController.projectModel.project.endDate}"
							pattern="yyyy-MM-dd">
							<f:validator binding="#{projectDatesValidator}" />
							<f:attribute name="projectStartDateComponent"
								value="#{projectStartDateComponent}" />
						</p:calendar>
						<p:message for="project_enddate" />
						<p:commandButton value="Save"
							actionListener="#{projectController.saveProject}"
							update="updateForm dataTable"></p:commandButton>
						<p:commandButton value="Cancel"
							actionListener="#{projectController.cancelProject}"
							update="updateForm dataTable"
							oncomplete="PF('createProject').hide();" immediate="true"></p:commandButton>
					</p:panelGrid>
					<p:tooltip id="toolTipDescription" for="description"
						trackMouse="true" value="Description cannot exceed 250 characters" />
				</p:outputPanel>

			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>
