<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Login Page</title>
</h:head>

<h:body>

	<div id="robusta"></div>

	<p:messages id="messages" showDetail="true" autoUpdate="true"
		closable="true" />


	<div id="loginContents">
		<h:panelGroup layout="block" id="loginForm" styleClass="loginClass">
			<h:form id="loginFormId" prependId="false">
				<p:panelGrid id="loginPanelGrid" columns="2" cellpadding="5">
					<h:outputText id="outTxtUserNameId" value="Username: "
						name="outTxtUserNameNm"></h:outputText>
					<p:inputText id="userName" required="true"
						value="#{loginMgmtBean.userName}"
						requiredMessage="Please enter username"></p:inputText>

					<h:outputText id="outTxtPasswordId" value="Password: "
						name="outTxtPasswordNm"></h:outputText>
					<p:password id="password" required="true"
						value="#{loginMgmtBean.password}"
						requiredMessage="Please enter password" name="inTxtPasswordNm"></p:password>
					<p />
					<p:column headerText="">
						<p:commandButton id="btnCancelId" value="Cancel"
							action="#{loginMgmtBean.cancel}" immediate="true"
							update="loginForm"></p:commandButton>
						<p:commandButton id="btnLoginId" value="Login"
							action="#{loginMgmtBean.login}"></p:commandButton>
					</p:column>
				</p:panelGrid>
				<p:tooltip id="toolTipLogin" for="userName"
					value="Enter your email as username" />
				<p:defaultCommand target="btnLoginId"></p:defaultCommand>
			</h:form>


			<p:dialog id="statusDialog" widgetVar="statusDialog" modal="true"
				draggable="false" closable="false" resizable="false"
				showHeader="false">
			</p:dialog>

			<p:ajaxStatus onstart="PF('statusDialog').show()"
				onsuccess="PF('statusDialog').hide()" />

		</h:panelGroup>
	</div>
	<br />
	<br />

	<f:facet name="last">
		<h:outputStylesheet id="stylesheet" name="style.css" />
	</f:facet>
</h:body>
</html>
