<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		Access Denied
  	</ui:insert></title>

</h:head>
<h:body>

	<div id="header">
		<ui:include src="../header.xhtml" />
	</div>


	<sec:authorize access="hasRole('ROLE_USER')">
		<div id="menu">
			<ui:include src="HomeMenu.xhtml" />
		</div>


		<h1>Access to this page denied</h1>
		<h:form>
			<p:commandButton value="Go to HomePage" action="Home"></p:commandButton>
		</h:form>



	</sec:authorize>

	<sec:authorize access="hasRole('ROLE_ADMIN')">
		<div id="menu">
			<ui:include src="/pages/secure/admin/AdminMenu.xhtml" />
		</div>


		<h1>Access to this page denied</h1>



	</sec:authorize>

	<div id="footer">
		<ui:include src="../footer.xhtml" />
	</div>

	<f:facet name="last">
		<h:outputStylesheet id="stylesheet" name="style.css" />
	</f:facet>


</h:body>
</html>

