<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="HomeTemplate.xhtml">

	<ui:define name="title">
 	 	Home
 	 </ui:define>

	<ui:define name="content">

		<p:panelGrid columns="2">
			<h:outputText
				value="Hello, #{projectController.memberModel.loggedMember.getFullName()}" />
		</p:panelGrid>

		<h:panelGroup layout="block"
			rendered="#{projectController.hasMemberAnyManagedProjects()}">
			<ui:include src="managedProjectList.xhtml"></ui:include>
		</h:panelGroup>

		<h:panelGroup layout="block"
			rendered="#{projectController.hasMemberAnyWorkingProjects()}">
			<ui:include src="workingProjectList.xhtml"></ui:include>
		</h:panelGroup>
		<h:panelGroup layout="block" rendered="true">
			<ui:include src="myLazyAssignments.xhtml" />
		</h:panelGroup>
	</ui:define>

</ui:composition>
