<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head></h:head>
<h:body>

	<ui:composition>
		<h:form>
			<p:tabMenu id="tabmenu" activeIndex="#{param.i}">
				<p:menuitem outcome="Home">
					<i class="fa fa-home fa-lg"></i>
					<f:param name="i" value="0" />
				</p:menuitem>
				<p:menuitem value="My projects "
					outcome="/pages/secure/home/myProjects" icon="ui-icon-wrench">
					<f:param name="i" value="1" />
				</p:menuitem>
				<p:menuitem value="My Assignments "
					outcome="/pages/secure/home/myAssignments" icon="ui-icon-star">
					<f:param name="i" value="2" />
				</p:menuitem>
				<p:menuitem id="assignmentsSearch" outcome="/pages/secure/home/mySearch">
					<i class="fa fa-search fa-lg"></i>
					<f:param name="i" value="3" />
				</p:menuitem>
				<p:menuitem id="help" value="Help" outcome="/pages/secure/home/help">
					<f:param name="i" value="4" />
				</p:menuitem>
				<p:menuitem value="Logout" id="logout" icon="fa fa-sign-out"
					action="#{loginMgmtBean.logout}"></p:menuitem>
			</p:tabMenu>
<p:tooltip id="tooltipAssignmentsSearch" for="assignmentsSearch"
				trackMouse="true" value="Seach for assignments accessable to you" />

		</h:form>

	</ui:composition>
</h:body>
</h:html>