<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		My Managed Projects:
  	</ui:insert></title>

</h:head>
<h:body>
	<h1>My Managed Projects:</h1>
	<p:dataTable value="#{projectController.loadManagedProjects()}"
		var="project" selectionMode="single" rowKey="#{project.id}">

		<p:ajax event="rowSelect"
			listener="#{projectController.selectProject}"></p:ajax>


		<p:column headerText="Id">
			<h:outputText value="#{project.id}" />
		</p:column>

		<p:column headerText="Created">
			<h:outputText value="#{project.dateCreated}">
				<f:convertDateTime pattern="yyyy-MM-dd" />
			</h:outputText>
		</p:column>

		<p:column headerText="Title">
			<h:outputText value="#{project.name}" />
		</p:column>

		<p:column headerText="Start">
			<h:outputText value="#{project.startDate}" />
		</p:column>

		<p:column headerText="Summary">
			<h:outputText value="#{project.description}" />
		</p:column>

		<p:column headerText="End">
			<h:outputText value="#{project.endDate}" />
		</p:column>

	</p:dataTable>

	<p:defaultCommand target="dummy" />
	<p:commandButton id="dummy" process="@none" global="false"
		style="display:none;" />
</h:body>
</html>