<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="HomeTemplate.xhtml">

	<ui:define name="title">
 	 	Home
 	 </ui:define>

	<ui:define name="content">
		<h1>All my assignments:</h1>

		<p:dataTable value="#{assignmentController.loadWorkingAssignments()}"
			var="assignment" selectionMode="single" rowKey="#{assignment.id}">

			<p:ajax event="rowSelect"
				listener="#{assignmentController.selectAssignment}"></p:ajax>

			<p:column headerText="Id">
				<h:outputText value="#{assignment.id}" />
			</p:column>

			<p:column headerText="Title">
				<h:outputText value="#{assignment.name}" />
			</p:column>

			<p:column headerText="Project">
				<h:outputText value="#{assignment.project.name}" />
			</p:column>

			<p:column headerText="Author">
				<h:outputText value="#{assignment.creator.getFullName()}" />
			</p:column>

			<p:column headerText="Summary">
				<h:outputText value="#{assignment.description}" />
			</p:column>

			<p:column headerText="Value in Story Points">
				<h:outputText value="#{assignment.valueInStoryPoints}" />
			</p:column>

			<p:column headerText="Status">
				<h:outputText value="#{assignment.status.label}" />
			</p:column>
		</p:dataTable>
		<br />

	</ui:define>

</ui:composition>
