<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>

</h:head>
<h:body>

	<h1>My assignments:</h1>


	<h:panelGroup layout="block" id="lazyPersonalAssignments">
		<h:form id="lazyAssignments">
			<p:dataTable var="assignment" widgetVar="lazyAssignmentsTable"
				value="#{lazyAssignmentPersonalModel}" paginator="true" rows="10"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15" id="assignmentTable" lazy="true"
				selectionMode="single" paginatorPosition="bottom">

				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>

				<p:column headerText="Id" sortBy="#{assignment.id}"
					filterBy="#{assignment.id}">
					<h:outputText value="#{assignment.id}" />
				</p:column>

				<p:column headerText="Title" sortBy="#{assignment.name}"
					filterBy="#{assignment.name}">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Description"
					sortBy="#{assignment.description}"
					filterBy="#{assignment.description}">
					<h:outputText value="#{assignment.description}" />
				</p:column>

				<p:column headerText="Value in Story Points"
					sortBy="#{assignment.valueInStoryPoints}"
					filterBy="#{assignment.valueInStoryPoints}">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>

				<p:column headerText="Status" filterBy="#{assignment.status}"
					filterMatchMode="contains">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('lazyAssignmentsTable').filter()">
							<f:selectItem itemLabel="Not Specified" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{assignmentController.assignmentStatuses}"
								var="status" itemValue="#{status}" itemLabel="#{status.label}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{assignment.status.label}" />
				</p:column>

				<p:column headerText="Created" sortBy="#{assignment.creationDate}"
					filterBy="#{assignment.creationDate}">
					<f:facet name="filter">
						<h:inputHidden id="creationDate" />
					</f:facet>
					<f:facet name="header">
						<p:outputLabel value="Created date" />
						<br />
						<p:calendar id="from" pattern="yyyy-MM-dd" placeholder="From date">
							<p:ajax event="valueChange"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('creationDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('creationDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
						</p:calendar>
						<p:calendar id="to" pattern="yyyy-MM-dd" placeholder="To date">
							<p:ajax event="valueChange"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('creationDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('creationDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
						</p:calendar>
					</f:facet>
					<h:outputText value="#{assignment.creationDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Last edited/Done"
					sortBy="#{assignment.editedDate}"
					filterBy="#{assignment.editedDate}">
					<f:facet name="filter">
						<h:inputHidden id="editedDate" />
					</f:facet>
					<f:facet name="header">
						<p:outputLabel value="Last edited" />
						<br />
						<p:calendar id="fromEdited" pattern="yyyy-MM-dd"
							placeholder="From date">
							<p:ajax event="valueChange"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('editedDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('fromEdited')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('toEdited')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('editedDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('fromEdited')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('toEdited')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
						</p:calendar>
						<p:calendar id="toEdited" pattern="yyyy-MM-dd"
							placeholder="To date">
							<p:ajax event="valueChange"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('editedDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('fromEdited')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('toEdited')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('editedDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('fromEdited')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('toEdited')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
						</p:calendar>
					</f:facet>
					<h:outputText value="#{assignment.editedDate}">
						<f:convertDateTime pattern="yyyy-MM-dd hh:mm" />
					</h:outputText>
				</p:column>

				<p:column headerText="Assigned Team Member"
					filterBy="#{assignment.assignee.getFullName()}">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>

				<p:column headerText="Sprint" filterBy="#{assignment.sprint.name}">
					<h:outputText value="#{assignment.sprint.name}" />
				</p:column>
				<f:facet name="footer">
					<p:commandButton value="All my assignments" action="myAssignments" />
				</f:facet>

			</p:dataTable>

		</h:form>
	</h:panelGroup>


</h:body>
</html>
