<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="HomeTemplate.xhtml">

	<ui:define name="title">
 	 	Home
 	 </ui:define>

	<ui:define name="content">

		<ui:include src="searchAssignments.xhtml"></ui:include>

	</ui:define>

</ui:composition>
