<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>

</h:head>
<h:body>
	<div>
		<h1>Project Sprints</h1>

		<h:form id="dataTable">
			<p:dataTable id="sprintTable"
				value="#{sprintController.loadProjectSprints()}" var="sprint"
				selectionMode="single" rowKey="#{sprint.id}"
				rowStyleClass="#{scheduleController.sprintOverdue(sprint) == true ? 'red' : 'none'}">

				<p:ajax event="rowSelect"
					listener="#{sprintController.selectSprint}"></p:ajax>

				<p:column headerText="Id">
					<h:outputText value="#{sprint.id}" />

				</p:column>

				<p:column headerText="Title">
					<h:outputText value="#{sprint.name}" />
				</p:column>

				<p:column headerText="Created">
					<h:outputText value="#{sprint.dateCreated}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Assignments">
					<h:outputText value="#{sprint.countAssignments()}" />
				</p:column>

				<p:column headerText="Start">
					<h:outputText value="#{sprint.startDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="End">
					<h:outputText value="#{sprint.endDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Actions"
					rendered="#{projectController.seenToProjectManager()}">

					<p:commandButton value="Edit"
						action="#{sprintController.updateSprint(sprint)}"
						update="dataTable updateForm sprintSchedule"
						oncomplete="PF('createSprint').show();" />
					<p:commandButton value="Delete"
						update="dataTable updateForm sprintSchedule"
						actionListener="#{sprintController.deleteSprint(sprint)}">
						<p:confirm header="Warning: deleting sprint"
							message="This will move all assignments to backlog and destroy collected event data! Are you sure you want to delete?"
							icon="ui-icon-alert" />
						<f:ajax render=":currentSprintTable" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>
		</h:form>
		<br />

		<h:panelGroup layout="block" id="createNewSprint">
			<p:commandButton update="updateForm" value="Create new sprint"
				action="#{sprintController.createSprint()}"
				oncomplete="PF('createSprint').show();"
				disabled="#{!projectController.seenToProjectManager()}">
			</p:commandButton>
		</h:panelGroup>

		<p:tooltip rendered="#{!projectController.seenToProjectManager()}"
			id="toolTipCreateSprint" for="createNewSprint"
			value="Only project manager can create Sprints" />


		<p:dialog header="Create/Edit sprint" widgetVar="createSprint"
			modal="true" showEffect="blind" hideEffect="explode"
			resizable="false"
			rendered="#{projectController.seenToProjectManager()}">
			<h:form id="updateForm">
				<h:panelGrid columns="3" cellpadding="5"
					rendered="#{sprintModel.editedSprint != null}">
					<p:outputLabel for="sprint_title" value="Sprint title"></p:outputLabel>
					<p:inputText id="sprint_title" required="true"
						requiredMessage="Please enter a title for your Sprint"
						value="#{sprintController.sprintModel.editedSprint.name}">
					</p:inputText>
					<p:message for="sprint_title"></p:message>

					<!-- <h:outputLabel for="assignmentMenu" value="Select: "></h:outputLabel>
					<p:selectCheckboxMenu id="assignmentMenu"
						converter="javax.faces.Long"
						value="#{sprintController.assignmentsId}" label="Assignments"
						filter="true" filterMatchMode="contains" panelStyle="width:500">
						<f:selectItems
							value="#{assignmentController.findAssignmentsByManagedProject()}"
							var="assignment" itemValue="#{assignment.id}"
							itemLabel="#{assignment.name}" />
					</p:selectCheckboxMenu>
					<p:message for="assignmentMenu"></p:message> -->

					<h:outputLabel for="sprint_startDate" value="Sprint starts"></h:outputLabel>
					<p:calendar id="sprint_startDate" required="true"
						binding="#{startDateComponent}"
						mindate="#{sprintController.getNowDate()}"
						requiredMessage="Please enter the start date"
						value="#{sprintController.sprintModel.editedSprint.startDate}">
						<f:validator binding="#{sprintStartValidator}" />
					</p:calendar>
					<p:message for="sprint_startDate"></p:message>

					<h:outputLabel for="sprint_endDate" value="Sprint ends"></h:outputLabel>
					<p:calendar id="sprint_endDate" required="true"
						binding="#{endDateComponent}"
						mindate="#{sprintController.getNowDate()}"
						requiredMessage="Please enter the end date"
						value="#{sprintController.sprintModel.editedSprint.endDate}">
						<f:validator binding="#{noOverlappingSprintsValidator}" />
						<f:validator binding="#{sprintInProjectDatesValidator}" />
						<f:validator binding="#{sprintEndValidator}" />
						<f:attribute name="startDateComponent"
							value="#{startDateComponent}" />
					</p:calendar>
					<p:message for="sprint_endDate"></p:message>


				</h:panelGrid>
				<p>
					<p:commandButton value="Save"
						actionListener="#{sprintController.saveSprint()}"
						update="updateForm dataTable sprintSchedule"
						oncomplete="if (!args.validationFailed) PF('createSprint').hide();">
						<f:ajax render=":currentSprintTable" />
					</p:commandButton>
					<p:commandButton value="Cancel"
						actionListener="#{sprintController.cancelSprint()}"
						update="updateForm dataTable"
						oncomplete="PF('createSprint').hide();">
						<p:ajax update="updateForm" resetValues="true" />
					</p:commandButton>
				</p>
			</h:form>
		</p:dialog>
	</div>

</h:body>
</html>
