<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="ProjectTemplate.xhtml">

	<ui:define name="title">
		Assignment
		
	</ui:define>

	<ui:define name="metrics">

		<h:form id="dataTable">
			<p:dataTable id="assTbl"
				value="#{assignmentController.createAssignmentPropertyMap()}"
				var="prop">
				<f:facet name="header">
					<h:outputLabel value="Assignment Information"></h:outputLabel>
				</f:facet>
				<p:column>
					<h:outputText value="#{prop.key}" />
				</p:column>
				<p:column>
					<h:outputText value="#{prop.value}" />
				</p:column>
			</p:dataTable>

<h:panelGroup layout="block" id="doneTable">

				<p:panelGrid columns="2">
					<h:outputText value="Done date" rendered="#{assignmentModel.currentAssignment.getDoneAuthor() ne null}"></h:outputText>
					<h:outputText value="#{assignmentModel.currentAssignment.doneDate}" rendered="#{assignmentModel.currentAssignment.getDoneAuthor() ne null}"/>
					<h:outputText value="Done author" rendered="#{assignmentModel.currentAssignment.getDoneAuthor() ne null}"/>
					<h:outputText
						value="#{assignmentModel.currentAssignment.doneAuthor.getFullName()}" rendered="#{assignmentModel.currentAssignment.getDoneAuthor() ne null}"/>
				</p:panelGrid>
				<br />
		</h:panelGroup>
			
<h:commandLink value="Export Project Assignments Data">
					<p:dataExporter type="csv" target="assTbl"
						fileName="robustaProjectAssignments" pageOnly="true" />
			</h:commandLink>
		</h:form>
		

		<br />
		<h:form id="buttons">
			<p:commandButton action="#{assignmentController.setStatusToDo()}"
				value="To Do" update="dataTable">
				<f:ajax render="dataTable" />
			</p:commandButton>

			<p:commandButton
				action="#{assignmentController.setStatusInProgress()}"
				value="In Progress" update="dataTable">
				<f:ajax render="dataTable" />
			</p:commandButton>

			<p:commandButton action="#{assignmentController.setStatusDone()}"
				value="Done" update="dataTable">
				<f:ajax render="dataTable" />
			</p:commandButton>
		</h:form>
		<br />



	</ui:define>

	<ui:define name="right content">
		<div id="files">
			<h3>Files</h3>
			<h:form id="filesAttached">

				<p:dataTable value="#{fileController.loadFilesByAssignment()}"
					var="file" styleClass="truncate"
					emptyMessage="No files attached yet">
					<p:column headerText="File name">
						<h:outputText id="fileName" value="#{file.fileName}"></h:outputText>
					</p:column>
					<p:column headerText="File size">
						<h:outputText id="fileSize"
							value="#{fileController.fileSizeConverted(file)}"></h:outputText>
					</p:column>
					<p:column headerText="Download">
						<p:commandButton value="Download"
							actionListener="#{fileController.download(file)}" ajax="false"
							onclick="PrimeFaces.monitorDownload(start, stop);"
							icon="ui-icon-arrowthick-1-s">
							<p:fileDownload value="#{fileController.fileModel.downloadable}" />

						</p:commandButton>
					</p:column>
				</p:dataTable>

			</h:form>


			<h:form id="filesUpload" enctype="multipart/form-data">

				<p:fileUpload dragDropSupport="true" label="Upload file"
					fileUploadListener="#{fileController.upload}"
					update="filesAttached" sizeLimit="104857600" fileLimit="5"
					invalidSizeMessage="File is too big. Maximum 100MB" />

			</h:form>

		</div>
		<div id="comments">

			<h:form id="commentList"
				rendered="#{assignmentController.assignmentModel.currentAssignment.id ne null}">

				<h3>Comments:</h3>

				<ui:repeat varStatus="status" var="comment"
					value="#{commentController.loadCommentsByAssignment()}">
					<p:panel id="c#{comment.id}">
						<f:facet name="header">
							<h:outputText value="##{comment.id}    " />
							<h:outputText value="#{comment.author.fullName}   " />
							<p:commandButton style="float:right!important" id="delete"
								icon="fa fa-trash" action="#{commentController.delete(comment)}"
								rendered="#{commentController.canDelete(comment)}"
								update="commentList">

								<p:confirm header="Delete"
									message="Are you sure you want to delete this entry?"
									icon="ui-icon-alert" />
							</p:commandButton>
							<br />
							<h:outputText value="#{comment.commentDate}">
								<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
							</h:outputText>
						</f:facet>
						<h:outputText value="#{comment.commentText}" />
					</p:panel>
					<p:tooltip id="tooltipDelete" for="delete" trackMouse="true"
					value="Delete comment" />
					
				</ui:repeat>

				<p:poll partialSubmit="true" interval="10" update=":commentList"
					process="@(.commentList)"></p:poll>

				<p:confirmDialog global="true">
					<p:commandButton value="Yes" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
				
			</h:form>
			<h:form>
				<h3>You can leave a comment for this assignment:</h3>

				<p:panelGrid columns="1" id="writeComment">
					<p:message for="commentText"></p:message>
					<p:inputTextarea required="true" style="width:400px"
						requiredMessage="Comment has to have at least one symbol"
						id="commentText" value="#{commentController.model.commentText}"/>

					<p:commandButton action="#{commentController.submitComment}"
						value="Submit" update="commentList" resetValues="true"></p:commandButton>

				</p:panelGrid>
				<br />
				<br />
			</h:form>

		</div>
	</ui:define>

	<ui:define name="content">

	</ui:define>

</ui:composition>