<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="ProjectTemplate.xhtml">

	<ui:define name="title">
 	 	Manage Project's Assignments
 	</ui:define>

	<ui:define name="metrics">
		<ui:include src="projectMetrics.xhtml"></ui:include>
	</ui:define>


	<ui:define name="right content">
		<div id="assignmentListDiv">

			<h1>Project assignments</h1>

			<h:form id="dataTable">
				<p:dataTable id="assignmentTable"
					value="#{assignmentController.findAssignmentsByManagedProject()}"
					var="assignment" selectionMode="single" rowKey="#{assignment.id}">

					<p:ajax event="rowSelect"
						listener="#{assignmentController.selectAssignment}"></p:ajax>

					<p:column headerText="Id">
						<h:outputText value="#{assignment.id}" />
					</p:column>

					<p:column headerText="Title">
						<h:outputText value="#{assignment.name}" />
					</p:column>

					<p:column headerText="Description">
						<h:outputText value="#{assignment.description}" />
					</p:column>

					<p:column headerText="Value in Story Points">
						<h:outputText value="#{assignment.valueInStoryPoints}" />
					</p:column>

					<p:column headerText="Status">
						<h:outputText value="#{assignment.status.label}" />
					</p:column>

					<p:column headerText="Created">
						<h:outputText value="#{assignment.creationDate}">
							<f:convertDateTime pattern="yyyy-MM-dd" />
						</h:outputText>
					</p:column>

					<p:column headerText="Last edited">
						<h:outputText value="#{assignment.editedDate}">
							<f:convertDateTime pattern="yyyy-MM-dd" />
						</h:outputText>
					</p:column>

					<p:column headerText="Assigned Team Member">
						<h:outputText value="#{assignment.assignee.getFullName()}" />
					</p:column>

					<p:column headerText="" exportable="false"
						rendered="#{projectController.seenToProjectManager()}">
						<p:commandButton value="Edit "
							action="#{assignmentController.update(assignment)}"
							update="dataTable updateForm"
							oncomplete="PF('createAssignment').show();" />
					</p:column>
				</p:dataTable>
				<br />
			</h:form>
			<h:form>
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Yes" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
			<div>
				<h:form>
					<br />
					<p:commandButton update="updateForm createDialog"
						value="Create new assignment"
						action="#{assignmentController.addNewAssignment()}"
						oncomplete="PF('createAssignment').show();">
					</p:commandButton>
				</h:form>
				<ui:include src="/pages/secure/project/exportAssignments.xhtml"></ui:include>

			</div>
			<p:dialog header="Create/Edit assignment"
				widgetVar="createAssignment" modal="true" showEffect="blind"
				hideEffect="explode" resizable="false" id="createDialog">
				<h:form id="updateForm">
					<h:panelGrid columns="3" cellpadding="5">
						<h:outputLabel for="assignment_name" value="Assignment title *"></h:outputLabel>
						<p:inputText id="assignment_name" required="true"
							requiredMessage="Please enter assignment title"
							value="#{assignmentController.assignmentModel.currentAssignment.name}"
							validator="#{assignmentController.validateUniqueAssignmentNameInProject}">
						</p:inputText>
						<p:message for="assignment_name"></p:message>

						<h:outputLabel for="assignment_description"
							value="Assignment description"></h:outputLabel>
						<p:inputTextarea id="assignment_description" maxlength="250"
							value="#{assignmentController.assignmentModel.currentAssignment.description}">
						</p:inputTextarea>
						<p:message for="assignment_description"></p:message>

						<h:outputLabel for="assignment_value"
							value="Value in story points"></h:outputLabel>
						<p:inputText id="assignment_value" converter="javax.faces.Integer"
							validatorMessage="Story points must be whole numbers above 0 but not more than 1000"
							value="#{assignmentController.assignmentModel.currentAssignment.valueInStoryPoints}">
							<f:validateLongRange minimum="0" maximum="200"></f:validateLongRange>
						</p:inputText>
						<p:message for="assignment_value"></p:message>

						<h:outputLabel for="assignee" value="Team Member"></h:outputLabel>
						<p:selectOneMenu id="assignee"
							validator="#{assignmentController.checkIfNewAssigneeIsNotDisabled}"
							value="#{assignmentController.assignmentModel.assigneeId}">
							<f:selectItem itemValue="#{null}" itemLabel="Not assigned"
								noSelectionOption="true"></f:selectItem>
							<f:selectItems
								value="#{projectController.projectModel.managedPro.workers}"
								var="member" itemValue="#{member.id}"
								itemLabel="#{member.getFullName()}" />
						</p:selectOneMenu>
						<p:message for="assignee"></p:message>
					</h:panelGrid>
					<p>
						<p:commandButton value="Save"
							actionListener="#{assignmentController.save}"
							update="updateForm dataTable"
							oncomplete="if (!args.validationFailed) PF('createAssignment').hide();">
						</p:commandButton>
						<p:commandButton value="Cancel"
							actionListener="#{assignmentController.cancel}"
							update="updateForm dataTable"
							oncomplete="PF('createAssignment').hide();" immediate="true">
						</p:commandButton>
					</p>

					<p:tooltip id="toolTipDescription" for="assignment_description"
						trackMouse="true" value="Description cannot exceed 250 characters" />
				</h:form>
			</p:dialog>

		</div>
	</ui:define>

	<ui:define name="content">

	</ui:define>



</ui:composition>