<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="ProjectTemplate.xhtml">

	<ui:define name="title">
 	 	Project's Sprints
 	 </ui:define>

	<ui:define name="metrics">
		<h:form id="sprintSchedule">
			<br />
			<p:panelGrid>
				<p:schedule styleClass="schedulewidthsmall" id="schedule"
					aspectRatio="1.4" draggable="false"
					value="#{scheduleController.eventModel}" widgetVar="myschedule"
					timeZone="GMT+2">
				</p:schedule>
			</p:panelGrid>
		</h:form>
		<p:tooltip id="toolTipSchedule" for="sprintSchedule"
			value="This schedule is for viewing purposes only; you can create and manage sprints using function buttons above" />

		<br />
		<br />
		<ui:include src="projectMetrics.xhtml"></ui:include>

	</ui:define>

	<ui:define name="right content">
		<ui:include src="/pages/secure/project/currentSprint.xhtml"></ui:include>

		<ui:include src="/pages/secure/project/allSprints.xhtml"></ui:include>
	</ui:define>


	<ui:define name="content">

	</ui:define>

</ui:composition>