<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>

</h:head>
<h:body>
	<h:form id="currentSprintTable">
		<h:panelGroup layout="block"
			rendered="#{sprintController.isRenderedIfCurrentSprintExists()}">
			<h1>Current sprint</h1>


			<p:dataTable id="sprintTable"
				value="#{sprintController.loadCurrentSprint()}" var="sprint"
				selectionMode="single" rowKey="#{sprint.id}"
				rowStyleClass="#{scheduleController.sprintOverdue(sprint) == true ? 'red' : 'none'}">

				<p:ajax event="rowSelect"
					listener="#{sprintController.selectSprint}"></p:ajax>

				<p:column headerText="Id">
					<h:outputText value="#{sprint.id}" />

				</p:column>

				<p:column headerText="Title">
					<h:outputText value="#{sprint.name}" />
				</p:column>

				<p:column headerText="Created">
					<h:outputText value="#{sprint.dateCreated}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Assignments">
					<h:outputText value="#{sprint.countAssignments()}" />
				</p:column>

				<p:column headerText="Start">
					<h:outputText value="#{sprint.startDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="End">
					<h:outputText value="#{sprint.endDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Actions"
					rendered="#{projectController.seenToProjectManager()}">

					<p:commandButton value="Edit"
						action="#{sprintController.updateSprint(sprint)}"
						update="dataTable updateForm sprintSchedule"
						oncomplete="PF('createSprint').show();" />
					<p:commandButton value="Delete"
						update="dataTable updateForm sprintSchedule"
						actionListener="#{sprintController.deleteSprint(sprint)}">
						<p:confirm header="Warning: deleting sprint"
							message="This will move all assignments to backlog and destroy collected event data! Are you sure you want to delete?"
							icon="ui-icon-alert" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>

			<br />


		</h:panelGroup>
	</h:form>
</h:body>
</html>
