<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>

</h:head>
<h:body>
	<div>
		<br /> <br />
		<h:form>
			<p:commandButton update="assTable"
				value="Export Project Assignments Data"
				onclick="PF('exportData').show();">
			</p:commandButton>
		</h:form>
		<p:dialog header="Project Assignments Data" widgetVar="exportData"
			modal="true" showEffect="blind" hideEffect="explode"
			resizable="false">

			<h:form id="assTable">
				<p:scrollPanel style="width:1000px;height:600px" mode="native">
					<p:dataTable id="exportAss"
						value="#{assignmentController.findAssignmentsByManagedProject()}"
						var="assignment">

						<p:column headerText="Assignment ID">
							<h:outputText value="#{assignment.id}" />
						</p:column>

						<p:column headerText="Created">
							<h:outputText value="#{assignment.creationDate}">
								<f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>

						<p:column headerText="Author">
							<h:outputText value="#{assignment.creator.getFullName()}" />
						</p:column>

						<p:column headerText="Title">
							<h:outputText value="#{assignment.name}" />
						</p:column>

						<p:column headerText="Description">
							<h:outputText value="#{assignment.description}" />
						</p:column>

						<p:column headerText="Value in Story Points">
							<h:outputText value="#{assignment.valueInStoryPoints}" />
						</p:column>

						<p:column headerText="Status">
							<h:outputText value="#{assignment.status.label}" />
						</p:column>

						<p:column headerText="Assigned Team Member">
							<h:outputText value="#{assignment.assignee.getFullName()}" />
						</p:column>

						<p:column headerText="Last edited">
							<h:outputText value="#{assignment.editedDate}">
								<f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>

					</p:dataTable>

				</p:scrollPanel>
				<br />
				<h:commandLink value="Export Project Assignments Data"
					onclick="PF('exportData').hide();">
					<p:dataExporter type="csv" target="exportAss"
						fileName="robustaProjectAssignments" pageOnly="true" />
				</h:commandLink>

				<br />
				<h:commandLink value="Cancel" onclick="PF('exportData').hide();"
					immediate="true" />
				<br />
			</h:form>
		</p:dialog>

	</div>

</h:body>
</html>
