<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="ProjectTemplate.xhtml">

	<ui:define name="title">
 	 	Project Info
 	 </ui:define>

	<ui:define name="metrics">
		<ui:include src="projectMetrics.xhtml" />

		<p:panelGrid columns="1" id="projectMembers">
			<f:facet name="header">
				<h:outputText value="Project Members" />
			</f:facet>
			<p:dataList style="margin: 0px;"
				value="#{projectController.projectModel.managedPro.workers}"
				var="worker" emptyMessage="No assignees yet">
            		#{worker.getFullName()}
        		</p:dataList>
		</p:panelGrid>

		<h:form id="assignWorker"
			rendered="#{projectController.seenToProjectManager()}">
			<p:messages id="messages" showDetail="true"
				autoUpdate="true" closable="true" />

			<h:panelGrid columns="3" cellpadding="5">
				<p:selectCheckboxMenu id="workersMenu" converter="javax.faces.Long"
					value="#{projectController2.workersIds}" label="Team Members"
					filter="true" filterMatchMode="contains" panelStyle="width:500">
					<f:selectItems
						value="#{projectController2.getMembersAvailableForProject()}"
						var="worker" itemValue="#{worker.id}"
						itemLabel="#{worker.getFullName()}" />
				</p:selectCheckboxMenu>
				<p:tooltip id="toolTipWorkersMenu" for="workersMenu"
					value="Choose team members" />
				<p:commandButton value="Assign selected" id="selectWorkers"
					update="projectMembers"
					actionListener="#{projectController.assignWorkers()}" />

			</h:panelGrid>



		</h:form>


	</ui:define>

	<ui:define name="right content">

		<h1>Project assignments</h1>

		<h:form id="lazyAssignments">
			<p:dataTable var="assignment" widgetVar="lazyAssignmentsTable"
				value="#{lazyAssignmentProjectModel}" paginator="true" rows="10"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15" id="assignmentTable" lazy="true"
				selectionMode="single" paginatorPosition="bottom">

				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>

				<p:column headerText="Id" sortBy="#{assignment.id}"
					filterBy="#{assignment.id}">
					<h:outputText value="#{assignment.id}" />
				</p:column>

				<p:column headerText="Title" sortBy="#{assignment.name}"
					filterBy="#{assignment.name}">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Description"
					sortBy="#{assignment.description}"
					filterBy="#{assignment.description}">
					<h:outputText value="#{assignment.description}" />
				</p:column>

				<p:column headerText="Value in Story Points"
					sortBy="#{assignment.valueInStoryPoints}"
					filterBy="#{assignment.valueInStoryPoints}">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>

				<p:column headerText="Status" filterBy="#{assignment.status}"
					filterMatchMode="contains">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('lazyAssignmentsTable').filter()">
							<f:selectItem itemLabel="Not Specified" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{assignmentController.assignmentStatuses}"
								var="status" itemValue="#{status}" itemLabel="#{status.label}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{assignment.status.label}" />
				</p:column>

				<p:column headerText="Created" sortBy="#{assignment.creationDate}"
					filterBy="#{assignment.creationDate}">
					<f:facet name="filter">
						<h:inputHidden id="creationDate" />
					</f:facet>
					<f:facet name="header">
						<p:outputLabel value="Created date" />
						<br />
						<p:calendar id="from" pattern="yyyy-MM-dd" placeholder="From date">
							<p:ajax event="valueChange"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('creationDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('creationDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
						</p:calendar>
						<p:calendar id="to" pattern="yyyy-MM-dd" placeholder="To date">
							<p:ajax event="valueChange"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('creationDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('creationDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
						</p:calendar>
					</f:facet>
					<h:outputText value="#{assignment.creationDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Last edited/Done"
					sortBy="#{assignment.editedDate}"
					filterBy="#{assignment.editedDate}">
					<f:facet name="filter">
						<h:inputHidden id="editedDate" />
					</f:facet>
					<f:facet name="header">
						<p:outputLabel value="Last edited/Done" />
						<br />
						<p:calendar id="fromEdited" pattern="yyyy-MM-dd"
							placeholder="From date">
							<p:ajax event="valueChange"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('editedDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('fromEdited')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('toEdited')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('editedDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('fromEdited')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('toEdited')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
						</p:calendar>
						<p:calendar id="toEdited" pattern="yyyy-MM-dd"
							placeholder="To date">
							<p:ajax event="valueChange"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('editedDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('fromEdited')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('toEdited')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('editedDate')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('fromEdited')}_input'))[0].value + '-' + $(PrimeFaces.escapeClientId('#{p:component('toEdited')}_input'))[0].value"
								oncomplete="PF('lazyAssignmentsTable').filter()" />
						</p:calendar>
					</f:facet>
					<h:outputText value="#{assignment.editedDate}">
						<f:convertDateTime pattern="yyyy-MM-dd hh:mm" />
					</h:outputText>
				</p:column>

				<p:column headerText="Assigned Team Member"
					filterBy="#{assignment.assignee.getFullName()}">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>

				<p:column headerText="Sprint" filterBy="#{assignment.sprint.name}">
					<h:outputText value="#{assignment.sprint.name}" />
				</p:column>



			</p:dataTable>

		</h:form>

		<div>
			<h:form>
				<br />
				<p:commandButton update="updateForm createDialog"
					value="Create new assignment"
					action="#{assignmentController.addNewAssignment()}"
					oncomplete="PF('createAssignment').show();">
				</p:commandButton>
			</h:form>

		</div>
		<p:dialog header="Create/Edit assignment" widgetVar="createAssignment"
			modal="true" showEffect="blind" hideEffect="explode"
			resizable="false" id="createDialog">
			<h:form id="updateForm">
				<h:panelGrid columns="3" cellpadding="5">
					<h:outputLabel for="assignment_name" value="Assignment title *"></h:outputLabel>
					<p:inputText id="assignment_name" required="true"
						requiredMessage="Please enter assignment title"
						value="#{assignmentController.assignmentModel.currentAssignment.name}"
						validator="#{assignmentController.validateUniqueAssignmentNameInProject}">
					</p:inputText>
					<p:message for="assignment_name"></p:message>

					<h:outputLabel for="assignment_description"
						value="Assignment description"></h:outputLabel>
					<p:inputTextarea id="assignment_description" maxlength="250"
						value="#{assignmentController.assignmentModel.currentAssignment.description}">
					</p:inputTextarea>
					<p:message for="assignment_description"></p:message>

					<h:outputLabel for="assignment_value" value="Value in story points"></h:outputLabel>
					<p:inputText id="assignment_value" converter="javax.faces.Integer" validatorMessage="Story points must be whole numbers above 0 but not more than 1000"
						value="#{assignmentController.assignmentModel.currentAssignment.valueInStoryPoints}">
						<f:validateLongRange minimum="0" maximum="200"></f:validateLongRange>
					</p:inputText>
					<p:message for="assignment_value"></p:message>

					<h:outputLabel for="assignee" value="Team Member"></h:outputLabel>
					<p:selectOneMenu id="assignee" validator="#{assignmentController.checkIfNewAssigneeIsNotDisabled}"
						value="#{assignmentController.assignmentModel.assigneeId}">
						<f:selectItem itemValue="#{null}" itemLabel="Not assigned"
							noSelectionOption="true"></f:selectItem>
						<f:selectItems
							value="#{projectController.projectModel.managedPro.workers}"
							var="member" itemValue="#{member.id}"
							itemLabel="#{member.getFullName()}" />
					</p:selectOneMenu>
					<p:message for="assignee"></p:message>
				</h:panelGrid>
				<p>
					<p:commandButton value="Save"
						actionListener="#{assignmentController.save}"
						update="updateForm @([id$=assignmentTable])"
						oncomplete="if (!args.validationFailed) PF('createAssignment').hide();">
					</p:commandButton>
					<p:commandButton value="Cancel"
						actionListener="#{assignmentController.cancel}"
						update="updateForm @([id$=assignmentTable])"
						oncomplete="PF('createAssignment').hide();" immediate="true">
					</p:commandButton>
				</p>

				<p:tooltip id="toolTipDescription" for="assignment_description"
					trackMouse="true" value="Description cannot exceed 250 characters" />
			</h:form>
		</p:dialog>

		<ui:include src="/pages/secure/project/exportAssignments.xhtml"></ui:include>

	</ui:define>

	<ui:define name="content">

	</ui:define>
</ui:composition>