<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head></h:head>
<h:body>

	<ui:composition>
		<h:form>
			<p:tabMenu activeIndex="#{param.i}">
				<p:menuitem outcome="Home">
					<i class="fa fa-home fa-lg"></i>
					<f:param name="i" value="0" />
				</p:menuitem>
				<p:menuitem id="addMember" value="Project Information"
					outcome="/pages/secure/project/manageProject" icon="ui-icon-search">
					<f:param name="i" value="1" />
				</p:menuitem>
				<p:menuitem id="addAssignments" value="Project Assignments"
					outcome="/pages/secure/project/assignmentList"
					icon="ui-icon-wrench">
					<f:param name="i" value="2" />
				</p:menuitem>
				<p:menuitem id="createSprint" value="Project Sprints"
					outcome="/pages/secure/project/createSprint" icon="ui-icon-star">
					<f:param name="i" value="3" />
				</p:menuitem>
				<p:menuitem id="assignmentSearch" outcome="/pages/secure/project/assignmentSearch">
					<i class="fa fa-search fa-lg"></i>
					<f:param name="i" value="4" />
				</p:menuitem>
				<p:menuitem id="help" value="Help" outcome="/pages/secure/project/help">
					<f:param name="i" value="5" />
				</p:menuitem>
				<p:menuitem icon="fa fa-sign-out" value="Logout" id="logout"
					action="#{loginMgmtBean.logout}"></p:menuitem>
			</p:tabMenu>
			<p:tooltip id="toolTipAddMember" for="addMember" trackMouse="true"
				value="Project homepage" />
			<p:tooltip id="toolTipAddAssignments" for="addAssignments"
				trackMouse="true" value="All project assignments" />
			<p:tooltip id="toolTipCreateSprint" for="createSprint"
				trackMouse="true" value="Project Sprints list" />
				<p:tooltip id="tooltipAssignmentSearch" for="assignmentSearch"
				trackMouse="true" value="Seach for assignments in this project" />
		</h:form>


	</ui:composition>
</h:body>
</h:html>