<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>

</h:head>
<h:body>
	<div id="projectMetricsDiv">
		<p:panelGrid columns="2">
			<f:facet name="header">
				<h:outputText value="Project Information" />
			</f:facet>

			<h:outputText value="Title:" />
			<h:outputText
				value="#{projectController.projectModel.managedPro.name}" />

			<h:outputText value="Total Value In StoryPoints:" />
			<h:outputText value="#{projectController.countTotalValue()}" />

			<h:outputText value="Done Story Points:" />
			<h:outputText value="#{projectController.countDoneValue()}" />

			<h:outputText value="Left To Do Story Points:" />
			<h:outputText value="#{projectController.countNotDoneValue()}" />

			<p:progressBar value="#{projectController.countPercentage()}"
				labelTemplate="{value}%" displayOnly="true" />
			<h:outputText value="Done" />

			<h:outputText value="Story Points per Day:" />
			<h:outputText value="#{projectController.countStoryPointPerDay()}" />

			<h:outputText value="Assignments per Day:" />
			<h:outputText value="#{projectController.countAssignmentsPerDay()}" />

			<h:outputText value="Creation date"></h:outputText>
			<h:outputText
				value="#{projectController.projectModel.managedPro.dateCreated}">
				<f:convertDateTime pattern="yyyy-MM-dd" />
			</h:outputText>

			<h:outputText value="Start date"></h:outputText>
			<h:outputText
				value="#{projectController.projectModel.managedPro.startDate}">
				<f:convertDateTime pattern="yyyy-MM-dd" />
			</h:outputText>

			<h:outputText value="End date"></h:outputText>
			<h:outputText
				value="#{projectController.projectModel.managedPro.endDate}">
				<f:convertDateTime pattern="yyyy-MM-dd" />
			</h:outputText>

			<h:outputText value="Project Manager"></h:outputText>
			<h:outputText
				value="#{projectController.projectModel.managedPro.projectManager.getFullName()}"></h:outputText>


			<h:outputText value="Total assignments"></h:outputText>
			<h:outputText value="#{projectController.countAssignments()}" />

			<h:outputText value="Done assignments"></h:outputText>
			<h:outputText value="#{projectController.countDoneAssignments()}" />

			<h:outputText value="Assignments left"></h:outputText>
			<h:outputText value="#{projectController.countNotDoneAssignments()}" />

		</p:panelGrid>



		<p:panelGrid columns="1" id="projectDescription">
			<f:facet name="header">
				<h:outputText value="Project Description" />
			</f:facet>
			<h:outputText
				value="#{projectController.projectModel.managedPro.description}"></h:outputText>
		</p:panelGrid>


	</div>
</h:body>
</html>
