<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>
</h:head>
<h:body>
	<div id="header">
		<ui:include src="../header.xhtml" />
	</div>

	<div id="container">
		<div id="menu">
			<ui:include src="ProjectMenu.xhtml" />
		</div>

		<div id="layout">
			<div id="metrics">
				<ui:insert name="metrics" />
			</div>
			<div id="rightContent">
				<ui:insert name="right content" />
			</div>
		</div>

		<div id="contents">
			<ui:insert name="content">
		  		No content
		  	</ui:insert>
			<br /> <br />
		</div>

	</div>
	<div id="footer">
		<ui:include src="../footer.xhtml" />
	</div>


	<f:facet name="last">
		<h:outputStylesheet id="stylesheet" name="style.css" />
	</f:facet>
</h:body>
</html>
