<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>

</h:head>
<h:body>
	<div id="metrics">
		<h:form id="searchedBy">
			<br />
			<br />
			<p:commandButton action="#{assignmentController.toggleSearchPanel()}"
				update="@form" value=" Assignments Search" />
			<p:outputPanel
				rendered="#{assignmentController.assignmentModel.visible}">

				<p>
					<h:outputLabel for="assignmentTitle" value="Title(or fragment)"></h:outputLabel>
					<h:inputText id="assignmentTitle"
						value="#{assignmentController.assCriteria.name}"></h:inputText>
					<p:message for="assignmentTitle"></p:message>
				</p>

				<p>
					<p:outputLabel for="description" value="Fragment of description"></p:outputLabel>
					<p:inputTextarea id="description"
						value="#{assignmentController.assCriteria.description}"></p:inputTextarea>
					<p:message for="description"></p:message>
				</p>

				<p>
					<p:outputLabel for="fromDate" value="Date created(or after)"></p:outputLabel>
					<p:calendar id="fromDate"
						value="#{assignmentController.assCriteria.creationFromDate}"
						pattern="yyyy-MM-dd"></p:calendar>
					<p:message for="fromDate" />
				</p>

				<p>
					<p:outputLabel for="tillDate" value="Date created(or before)"></p:outputLabel>
					<p:calendar id="tillDate"
						value="#{assignmentController.assCriteria.creationTillDate}"
						pattern="yyyy-MM-dd"></p:calendar>
					<p:message for="tillDate" />
				</p>

				<p>
					<p:outputLabel for="doneFromDate" value="Date done (or after)"></p:outputLabel>
					<p:calendar id="doneFromDate"
						value="#{assignmentController.assCriteria.doneFromDate}"
						pattern="yyyy-MM-dd"></p:calendar>
					<p:message for="doneFromDate" />
				</p>

				<p>
					<p:outputLabel for="doneTilDate" value="Date done(or before)"></p:outputLabel>
					<p:calendar id="doneTilDate"
						value="#{assignmentController.assCriteria.doneTilDate}"
						pattern="yyyy-MM-dd"></p:calendar>
					<p:message for="doneTilDate" />
				</p>

				<p>
					<p:outputLabel for="status" value="Status"></p:outputLabel>
					<p:selectOneMenu value="#{assignmentController.assCriteria.status}"
						id="status">
						<f:selectItem itemValue="#{null}" itemLabel="Not Selected"
							noSelectionOption="true"></f:selectItem>
						<f:selectItem itemLabel="To Do" itemValue="TODO" />
						<f:selectItem itemLabel="In Progress" itemValue="INPROGRESS" />
						<f:selectItem itemLabel="Done" itemValue="DONE" />
					</p:selectOneMenu>
				</p>

				<p>
					<p:outputLabel for="statusFromDate" value="Edited date (or after)"></p:outputLabel>
					<p:calendar id="statusFromDate"
						value="#{assignmentController.assCriteria.editedFromDate}"
						pattern="yyyy-MM-dd"></p:calendar>
					<p:message for="statusFromDate" />
				</p>

				<p>
					<p:outputLabel for="statusTillDate" value="Edited date (or before)"></p:outputLabel>
					<p:calendar id="statusTillDate"
						value="#{assignmentController.assCriteria.editedTillDate}"
						pattern="yyyy-MM-dd"></p:calendar>
					<p:message for="statusTillDate" />
				</p>

				<p>
					<p:outputLabel for="sprintTitle" value="Sprint title"></p:outputLabel>
					<p:inputText id="sprintTitle"
						value="#{assignmentController.assCriteria.sprintTitle}"></p:inputText>
					<p:message for="sprintTitle"></p:message>
				</p>

				<p:commandButton
					actionListener="#{assignmentController.searchByEverythingInProject}"
					value="Find Assignments" update="searchedBy results"></p:commandButton>

				<br />

			</p:outputPanel>
		</h:form>
	</div>
	<div id="rightContent">
		<h:form id="results">
			<p>Search Result Assignments:</p>

			<p:dataTable
				value="#{assignmentController.assignmentModel.foundAssignments}"
				selectionMode="single" rowKey="#{assignment.id}" var="assignment">
				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>


				<p:column headerText="Id">
					<h:outputText value="#{assignment.id}" />
				</p:column>

				<p:column headerText="Title">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Summary">
					<h:outputText value="#{assignment.description}" />
				</p:column>

				<p:column headerText="Project">
					<h:outputText value="#{assignment.project.name}" />
				</p:column>

				<p:column headerText="Author">
					<h:outputText value="#{assignment.creator.getFullName()}" />
				</p:column>

				<p:column headerText="Value in Story Points">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>

				<p:column headerText="Status">
					<h:outputText value="#{assignment.status.label}" />
				</p:column>

				<p:column headerText="Created" sortBy="#{assignment.creationDate}">
					<h:outputText value="#{assignment.creationDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Last edited"
					sortBy="#{assignment.creationDate}">
					<h:outputText value="#{assignment.creationDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Done date" sortBy="#{assignment.doneDate}">
					<h:outputText value="#{assignment.doneDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>

				<p:column headerText="Assigned Team Member">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>
			</p:dataTable>
			<br />
		</h:form>
	</div>

</h:body>
</html>
