<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="ProjectTemplate.xhtml">

	<ui:define name="title">
 	 	Sprints Assignments
 	</ui:define>

	<ui:define name="metrics">
		<ui:include src="sprintMetrics.xhtml"></ui:include>
	</ui:define>

	<ui:define name="right content">

		<h:form>
			<p:outputLabel for="statusAssignments"
				value="Full list of assignments in Sprint by Status: "></p:outputLabel>
			<p:selectOneMenu id="statusAssignments"
				value="#{sprintController.sprintModel.watchedAssignmentStatus}">
				<f:selectItems value="#{assignmentController.assignmentStatuses}"
					var="status" itemValue="#{status}" itemLabel="#{status.label}">
				</f:selectItems>
				<f:ajax event="change" render="dataTableAssignmentsByStatusInSprint" />
			</p:selectOneMenu>
		</h:form>


		<h:form id="dataTableAssignmentsByStatusInSprint">
			<p:dataTable id="sprintToDoAssignmentTable"
				value="#{sprintController.loadAssignmentsByStatusInSprint()}"
				var="assignment" selectionMode="single" rowKey="#{assignment.id}">

				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>

				<p:column headerText="Assignment">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Team Member">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>

				<p:column headerText="Value">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>

			</p:dataTable>
		</h:form>

	</ui:define>

	<ui:define name="content" />

</ui:composition>