<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="ProjectTemplate.xhtml">

	<ui:define name="title">
 	 	Sprint Activation
 	</ui:define>

	<ui:define name="metrics">
		<ui:include src="projectMetrics.xhtml"></ui:include>
	</ui:define>

	<ui:define name="right content">
		<h:form>
			<p:growl id="messages" showDetail="true" />
			<p:panelGrid>
				<p:schedule styleClass="schedulewidth" id="schedule"
					draggable="false" value="#{scheduleController.eventModel}"
					widgetVar="myschedule" timeZone="GMT+2">
				</p:schedule>
			</p:panelGrid>
		</h:form>
	</ui:define>

	<ui:define name="content" />

</ui:composition>