<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="ProjectTemplate.xhtml">
	<ui:define name="title">
 	 	Sprints Assignments
 	</ui:define>

	<ui:define name="metrics">
		<ui:include src="sprintMetrics.xhtml"></ui:include>

		<h:form id="sprintSchedule">
			<br />
			<p:panelGrid>
				<p:schedule styleClass="schedulewidthsmall" id="schedule"
					aspectRatio="1.4" draggable="false"
					value="#{scheduleController.eventModel}" widgetVar="myschedule"
					timeZone="GMT+2">
				</p:schedule>
			</p:panelGrid>

			<p:tooltip id="toolTipSchedule" for="sprintSchedule"
				value="This schedule is for viewing purposes only; create and manage sprints using function buttons in the sprint list" />
		</h:form>
	</ui:define>

	<ui:define name="right content">
		<h:form id="chartForm">
			<br />
			<p:chart id="chart" type="line"
				model="#{sprintController.createSprintLineModel()}"
				style="height:600px;" />
			<br />
			<br />
		</h:form>
		<h:form id="dataTableToDo">
			<p>Assignments To Do:</p>
			<p:dataTable id="sprintToDoAssignmentTable"
				value="#{sprintController.load10ToDoAssignments()}" var="assignment"
				selectionMode="single" rowKey="#{assignment.id}">

				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>

				<p:column headerText="Assignment">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Team Member">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>

				<p:column headerText="Value">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>

				<p:column headerText="Sprint Action"
					rendered="#{projectController.seenToProjectManager()}">
					<p:commandButton id="removeFromSprintToDo" value="Move to backlog "
						update="dataTableToDo dataTableNullSprint grid @([id$=chart])"
						action="#{assignmentController.removeFromSprint(assignment)}" />
				</p:column>

				<f:facet name="footer">
					<p:commandButton value="View all TO DO assignments in this Sprint"
						actionListener="#{sprintController.setWatchedAssignmentsStatusesToToDo}"
						action="sprintMoreAssignmentsView" />
				</f:facet>
			</p:dataTable>
		</h:form>
		<br />

		<h:form id="dataTableInProgress">
			<p>Assignments In Progress:</p>
			<p:dataTable id="sprintInProgressAssignmentTable"
				value="#{sprintController.load10InProgressAssignments()}"
				var="assignment" selectionMode="single" rowKey="#{assignment.id}">


				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>

				<p:column headerText="Assignment">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Team Member">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>

				<p:column headerText="Value">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>

				<p:column headerText="Sprint action"
					rendered="#{projectController.seenToProjectManager()}">
					<p:commandButton id="removeFromSprintInProgress"
						value="Move to backlog "
						update="dataTableInProgress dataTableNullSprint grid :chartForm:chart"
						action="#{assignmentController.removeFromSprint(assignment)}" />
				</p:column>
				<f:facet name="footer">
					<p:commandButton
						value="View all IN PROGRESS assignments in this Sprint"
						actionListener="#{sprintController.setWatchedAssignmentsStatusesToInProgress}"
						action="sprintMoreAssignmentsView" />
				</f:facet>
			</p:dataTable>
		</h:form>
		<br />

		<h:form id="dataTableDone">
			<p>Done Assignments:</p>
			<p:dataTable id="sprintDoneAssignmentTable"
				value="#{sprintController.load10DoneAssignments()}" var="assignment"
				selectionMode="single" rowKey="#{assignment.id}">

				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>

				<p:column headerText="Assignment">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Team Member">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>

				<p:column headerText="Value">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>
				<f:facet name="footer">
					<p:commandButton value="View all DONE assignments in this Sprint"
						actionListener="#{sprintController.setWatchedAssignmentsStatusesToDone}"
						action="sprintMoreAssignmentsView" />
				</f:facet>
			</p:dataTable>
		</h:form>
		<br />

		<h:form id="dataTableNullSprint">
			<p>Backlog (assignments free of sprints):</p>
			<p:dataTable id="notSprintAssignmentTable"
				value="#{sprintController.loadNotInSprintAssignments()}"
				var="assignment" selectionMode="single" rowKey="#{assignment.id}">

				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>

				<p:column headerText="Assignment">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Team Member">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>

				<p:column headerText="Value">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>

				<p:column headerText="Sprint action"
					rendered="#{projectController.seenToProjectManager()}">
					<p:commandButton id="addToCurrentSprint" value="Add to sprint "
						update="dataTableDone dataTableToDo dataTableInProgress dataTableNullSprint :chartForm:chart grid dataTableUnassignedAssignmentsInSprint"
						action="#{assignmentController.addToSprint(assignment)}" />
				</p:column>
			</p:dataTable>
		</h:form>
		<br />

		<h:form id="dataTableUnassignedAssignmentsInSprint"
			rendered="#{sprintController.areThereAnyUnassignedAssignmentsInThisSprint()}">
			<p>Unassigned Sprint tasks:</p>
			<p:dataTable id="notSprintAssignmentTable"
				value="#{sprintController.loadUnassignedAssignmentsInSprint()}"
				var="assignment" selectionMode="single" rowKey="#{assignment.id}">

				<p:ajax event="rowSelect"
					listener="#{assignmentController.selectAssignment}"></p:ajax>

				<p:column headerText="Assignment">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="Team Member">
					<h:outputText value="#{assignment.assignee.getFullName()}" />
				</p:column>

				<p:column headerText="Value">
					<h:outputText value="#{assignment.valueInStoryPoints}" />
				</p:column>

				<p:column headerText="Sprint action"
					rendered="#{projectController.seenToProjectManager()}">
					<p:commandButton id="removeFromSprintInProgress"
						value="Move to backlog "
						update="dataTableInProgress dataTableNullSprint grid :chartForm:chart"
						action="#{assignmentController.removeFromSprint(assignment)}" />
				</p:column>
			</p:dataTable>
		</h:form>


		<h:form>
			<p:commandButton update="dataTable"
				value="Export Sprint Assignments Data"
				onclick="PF('exportData').show();">
			</p:commandButton>
		</h:form>
		<p:dialog header="Sprint Assignments Data" widgetVar="exportData"
			modal="true" showEffect="blind" hideEffect="explode"
			resizable="false">

			<h:form id="dataTable">
				<p:scrollPanel style="width:1000px;height:600px" mode="native">
					<p:dataTable id="sprintAssignmentTable"
						value="#{sprintController.loadAssignmentsBySprint()}"
						var="assignment">

						<p:column headerText="Assignment ID">
							<h:outputText value="#{assignment.id}" />
						</p:column>

						<p:column headerText="Created">
							<h:outputText value="#{assignment.creationDate}">
								<f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>

						<p:column headerText="Author">
							<h:outputText value="#{assignment.creator.getFullName()}" />
						</p:column>

						<p:column headerText="Title">
							<h:outputText value="#{assignment.name}" />
						</p:column>

						<p:column headerText="Description">
							<h:outputText value="#{assignment.description}" />
						</p:column>

						<p:column headerText="Value in Story Points">
							<h:outputText value="#{assignment.valueInStoryPoints}" />
						</p:column>

						<p:column headerText="Status">
							<h:outputText value="#{assignment.status.label}" />
						</p:column>

						<p:column headerText="Assigned Team Member">
							<h:outputText value="#{assignment.assignee.getFullName()}" />
						</p:column>

						<p:column headerText="Last edited">
							<h:outputText value="#{assignment.editedDate}">
								<f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>



					</p:dataTable>
				</p:scrollPanel>
				<br />
				<h:commandLink value="Export Sprint Assignments Data"
					onclick="PF('exportData').hide();">
					<p:dataExporter type="csv" target="sprintAssignmentTable"
						fileName="robustaSprintAssignments" pageOnly="true" />
				</h:commandLink>

				<br />
				<h:commandLink value="Cancel" onclick="PF('exportData').hide();"
					immediate="true" />
				<br />
			</h:form>
		</p:dialog>

	</ui:define>

	<ui:define name="content" />

</ui:composition>