
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		No title
  	</ui:insert></title>

</h:head>
<h:body>
	<br />
	<h:form id="grid">
		<p:messages id="aaa" closable="true" />
		<p:panelGrid columns="2">

			<f:facet name="header">
				<h:outputText value="Sprint Information" />
			</f:facet>

			<h:outputText value="Project:" />
			<h:outputText
				value="#{projectController.projectModel.managedPro.name}" />

			<h:outputText value="Sprint:" />
			<h:outputText value="#{sprintController.sprintModel.sprint.name}" />

			<h:outputText value="Sprint Value In StoryPoints:" />
			<h:outputText value="#{sprintController.countValueInStoryPoints()}" />

			<h:outputText value="Done Story Points:" />
			<h:outputText
				value="#{sprintController.countDoneValueInStoryPoints()}" />

			<h:outputText value="Left To Do Story Points:" />
			<h:outputText
				value="#{sprintController.countNotDoneValueInStoryPoints()}" />

			<h:outputText value="Sprint Status:" />
			<h:outputText
				value="#{sprintController.sprintModel.sprint.status.label}" />

		</p:panelGrid>

		<p:tooltip for="activateSprint"
			value="Activating future Sprint will set start date to today"></p:tooltip>
		<br />
		<p:commandButton id="activateSprint"
			rendered="#{sprintController.canActivateSprint()}"
			value="Activate Sprint"
			actionListener="#{sprintController.activateSprint()}"
			update="aaa grid" />

		<p:commandButton id="completeSprint" value="Finish Sprint"
			actionListener="#{sprintController.completeSprint()}"
			rendered="#{sprintController.canCompleteSprint()}" update="grid aaa">
			<p:confirm header="Warning: completing sprint"
				message="Are you sure you want to finish this Sprint? You will not able to activate it again"
				icon="ui-icon-alert" />
		</p:commandButton>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="Yes" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="No" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>

		<br />
	</h:form>
</h:body>
</html>
